body {
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
}

div {
    margin: 20px;
}

div:first-letter {
    font-family: cursive;
    font-size: 2rem;
    line-height: .5;
}

div:first-line {
    background-color: lightgrey;
    font-weight: 600;
}