html {
    background-color: purple;
    font-family:sans-serif;

}

body {
    width: 80%;
    margin: 20px auto;
    background-color: yellow;
    border: groove 20px;
    height:auto;
}

div,p,h1 {
    color: blue;
    width: auto;
    border: 10px groove silver;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

h1 {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

p {
    color: purple;
    font-weight: bold;
    font-size: 5rem;
    border: 5px solid black;
    line-height: 200px;
}
/*elementclass is 10 urls absolute v relative specificity

 */
.elementclass {
    color: black;
    font-size: 3rem;
    line-height: 1.5;
}
/*elementid is 100 specifity*/

#elementid {
    color: grey;

}

div p   {
    background-color: lightgrey;
}

div > h1  {
    background-color: lightcyan;
}

h1:first-letter  {
    color: orangered;
}

div div{
    text-decoration: underline;
}

p:hover {
    color: lightpink;
}